@font-face {
  font-family: "iconfont"; /* Project id 4040302 */
  src: url('iconfont.woff2?t=1684343147973') format('woff2'),
       url('iconfont.woff?t=1684343147973') format('woff'),
       url('iconfont.ttf?t=1684343147973') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglunxiao:before {
  content: "\e8b9";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-dianzan1:before {
  content: "\e8c3";
}

.icon-shouyexuanzhong:before {
  content: "\e61e";
}

.icon-shouye1:before {
  content: "\e61f";
}

.icon-tansuoxuanzhong:before {
  content: "\e621";
}

.icon-wodexuanzhong:before {
  content: "\e626";
}

.icon-wode:before {
  content: "\e627";
}

.icon-faxian:before {
  content: "\e608";
}

.icon-hands-fill:before {
  content: "\e624";
}

.icon-fabuguanli:before {
  content: "\e611";
}

.icon-gongdanjilu:before {
  content: "\e64a";
}

.icon-shezhi1:before {
  content: "\e603";
}

.icon--:before {
  content: "\e623";
}

.icon-haoyoutixing:before {
  content: "\e60e";
}

.icon-shezhi:before {
  content: "\e8b8";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-guanbi:before {
  content: "\eb6a";
}

.icon-tansuo:before {
  content: "\e622";
}

